:root {
    font-size: 20px;
    font-family: sans-serif;
}

* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    /* background-color: rgba(0, 0, 128, 0.2); */
}

body {
    padding: 0 1rem;
}